name: Build LLVM17 for Linux-aarch64

on:
  workflow_dispatch:
  push:
    branches: [llvm-17.0.6rel]

jobs:
  build_aarch64:
    runs-on: ubuntu-latest
    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
        with:
          ref: "llvm-17.0.6rel"
          submodules: "recursive"

      - name: Cache CMake and Ninja
        uses: actions/cache@v3
        with:
          path: |
            /usr/local/bin/cmake
            /usr/local/bin/ninja
          key: ${{ runner.os }}-cmake-ninja

      - name: Setup dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build for linux-aarch64
        run: |
          mkdir build-aarch64
          cd build-aarch64
          cmake -G Ninja -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=aarch64 \
                -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc \
                -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ \
                -DCMAKE_BUILD_TYPE=Release \
                -DLLVM_ENABLE_PROJECTS="clang" \
                -DLLVM_TARGETS_TO_BUILD="AArch64" \
                -DLLVM_ENABLE_ZSTD=OFF \
                -DLLVM_INCLUDE_TESTS=OFF \
                -DLLVM_INCLUDE_EXAMPLES=OFF \
                -DLLVM_INCLUDE_UTILS=OFF \
                -LLVM_INCLUDE_BENCHMARKS=OFF \
                -LLVM_BUILD_TOOLS=OFF ../llvm
          ninja -j16

      - name: Verify Build Output
        run: |
          ls -lh build-aarch64/bin  # 确认编译输出的可执行文件大小和路径

      - name: Package Entire Build Directory
        run: |
          tar -czvf Hikari_LLVM17.0.6_Linux-aarch64.tar.gz -C build-aarch64 .

      - name: Upload Entire Build Artifact
        uses: actions/upload-artifact@v4.3.3
        with:
          name: Hikari_LLVM17.0.6_Linux-aarch64
          path: Hikari_LLVM17.0.6_Linux-aarch64.tar.gz
