name: Build LLVM17 for Linux-aarch64 and Linux-x86_64

on:
  workflow_dispatch:
  push:
    branches: [llvm-17.0.6rel]
 
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
        with:
          ref: "llvm-17.0.6rel"
          submodules: "recursive"
 
      - name: Setup dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build gcc g++ gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build for linux-x86_64
        run: |
          mkdir build-x86_64
          cd build-x86_64
          cmake -G Ninja -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=x86_64 \
                -DCMAKE_BUILD_TYPE=Release \
                -DLLVM_ENABLE_PROJECTS="clang" \
                -DLLVM_TARGETS_TO_BUILD="X86" \
                -DLLVM_ENABLE_ZSTD=OFF \
                -DLLVM_INCLUDE_TESTS=OFF \
                -DLLVM_INCLUDE_EXAMPLES=OFF \
                -DLLVM_INCLUDE_UTILS=OFF \
                -DLLVM_INCLUDE_BENCHMARKS=OFF \
                -DLLVM_BUILD_TOOLS=OFF ../llvm
          ninja

      - name: Package x86_64 Artifact
        run: |
          cd build-x86_64/bin
          tar -czvf Hikari_LLVM17.0.6_Linux-x86_64.tar.gz clang clang++

      - name: Build for linux-aarch64
        run: |
          mkdir build-aarch64
          cd build-aarch64
          cmake -G Ninja -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=aarch64 \
                -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ \
                -DCMAKE_BUILD_TYPE=Release \
                -DLLVM_ENABLE_PROJECTS="clang" \
                -DLLVM_TARGETS_TO_BUILD="AArch64" \
                -DLLVM_ENABLE_ZSTD=OFF \
                -DLLVM_INCLUDE_TESTS=OFF \
                -DLLVM_INCLUDE_EXAMPLES=OFF \
                -DLLVM_INCLUDE_UTILS=OFF \
                -DLLVM_INCLUDE_BENCHMARKS=OFF \
                -DLLVM_BUILD_TOOLS=OFF ../llvm
          ninja

      - name: Package aarch64 Artifact
        run: |
          cd build-aarch64/bin
          tar -czvf Hikari_LLVM17.0.6_Linux-aarch64.tar.gz clang clang++

      - name: Upload Artifacts
        if: failure() || success()
        uses: actions/upload-artifact@v4.3.3
        with:
          name: Hikari_LLVM17.0.6_Linux
          paths: |
            build-x86_64/bin/Hikari_LLVM17.0.6_Linux-x86_64.tar.gz
            build-aarch64/bin/Hikari_LLVM17.0.6_Linux-aarch64.tar.gz